.webpart{
  .header{
    text-align: center;
    color: gray;
  }
.contaier {
  display: flex;
  flex-direction: row;
  .success{
    color: green;
  }
  .master {
    width: 60%;
    .header {
      margin: 10px 45px;
      justify-content: center;
      input {
        width: 90%;
        border-radius: 5px;
        border: solid 1px lightgray;
        height: 23px;
        padding: 2px;
      }
    }
      .master-body {
        display: flex;
        flex-direction: row;
        .book-item {
          max-width: 20%;
          display: flex;
          flex-direction: column;
          align-content: center;
          text-align: center;
          padding: 4px;
          background: #e9ecef;
          border-radius: 5px;
          margin: 5px;
          border: solid 1px lightgray;
          cursor: pointer;
          h4 {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 4px;
            color: gray;
          }
          .image-container {
            height: 50px;
            img {
              max-width: 90%;
              max-height: 90%;
            }
          }
          .status {
            color: darkorange;
            font-weight: bold;
          }
          .author {
            color: gray;
            font-size: 12px;
          }
        }
      }
  }
  .detail {
    .item-container {
      .image-container {
        height: 180px;
        text-align: center;
        position: relative;
        img {
          max-width: 100%;
          max-height: 100%;
          border-radius: 5%;
        }
        .status {
          text-align: right;
          padding: 0 10px;
          color: #ff8c00;
          font-weight: bold;
          border-radius: 5px;
          max-width: 20%;
          float: right;
          margin: 2px 10px;
          position: absolute;
          right: 16px;
          background: beige;
          padding: 0 20px;
        }
      }
      .title {
        font-size: 20px;
        padding: 5px;
        color: darkslategray;
        margin: 10px 10px 0;
        font-weight: bold;
        text-align: center;
        .like {
          color: gray;
          padding: 0 5px;
        }
      }
      .author {
        color: darkslategray;
        text-align: center;
      }
      .description {
        word-wrap: break-word;
        font-size: 11px;
        background-color: #e9ecef;
        border-radius: 3px;
        padding: 5px;
        margin: 10px;
        max-width: 250px;
      }
      .actions{
        text-align: center;
        margin: 10px;
      }
      .tagged-section {
        text-align: center;
        span {
          background-color: lightsalmon;
          border-radius: 7px;
          padding: 2px;
          margin: 0 2px;
          font-size: 10px;
        }
      }
    }
  }
}
}
